
  
  #slider-container {
    height: 510px;
    width: 100vw;
    max-width: 1400px;
   
    box-shadow: 5px 5px 8px rgb(178, 178, 178) inset;
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin-left: 50px;
  }
  
  #slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid rgb(184, 182, 182);
    border-top: 8px solid  rgb(184, 182, 182);
  }
  
  #slider-container .btn:hover {
    transform: scale(1.2);
  }
  
  #slider-container .btn.inactive {
    border-color: rgb(179, 177, 178);
  }
  
  #slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px;
  }
  
  #slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
  #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%;
    transition: all 0.5s;
  }
  
  #slider-container #slider .slide {
    height: 90%;
    margin: auto 10px;
    background-color: #b9b9b9;
    box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
    display: grid;
    place-items: center;
  }
  
  #slider-container #slider .slide span {
    color: white;
    font-size: 150px;
  }
  
  @media only screen and (min-width: 1100px) {
    #slider-container #slider .slide {
      width: calc(2.5% - 20px);
    }
  }
  
  @media only screen and (max-width: 1100px) {
    #slider-container #slider .slide {
      width: calc(3.3333333% - 20px);
    }
  }
  
  @media only screen and (max-width: 900px) {
    #slider-container #slider .slide {
      width: calc(5% - 20px);
    }
  }
  
  @media only screen and (max-width: 550px) {
    #slider-container #slider .slide {
      width: calc(10% - 20px);
    }
  }
  